.img-warpper{
    margin: -5px;
    padding: 5px;
    background-color: gray;
}
.cataselect{
    width: 133px;
}
.catabutton{
    margin-left: 20px;
    padding: 10px;
}

.form-signin {
    margin-top: 40px;
}
.form-signin {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

.item {
    width:272px;
    margin: 5px;
    padding:5px;
    float: left;
    border: 1px solid #ccc;
    background: #eee;
}


#containera {
    padding: 10px;
}

#containera,
.item {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

#containera {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.item {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

